.navigation{
    background-color: black;
    opacity: 0.9;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0px 25px 25px;
    min-height: 100px;
    

}