.postContent{
    background-color: $color-2;
    display: flex;
    flex-direction: column;
   
    padding: 2rem;
    color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: $borderRadius;
#postBody{
    height: 100px;
}

    input, textarea {
    border-radius: $borderRadius;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: cursive;
    border: none;
    }

    

    label{
        margin: 0.6rem;
       
    }

}

@media screen and (max-width: 580px){

    .postContent{
      width: 100%;
    }
  
}
    