.sideBar{
display: grid;
background-color: rgb(64, 114, 155);
border-radius: $borderRadius;
min-width: 300px;
box-shadow: -9px 5px 5px 0px rgba(0,0,0,0.75);
margin : 0 0.5rem;

.sideBarContent{
    width: 100%;
    display: flex  ;
    flex-direction: column;
    justify-content: space-around;
  
    .active{
        color:rgb(164, 189, 52)
    }

    .title{
        color:#1D1E23;
        margin-top: 1rem;
    }

    ul{
        list-style: none;
        display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 3rem;
           
    
             :hover{
                transition: all .5s ease;
                transform: scale(1.2);
              
             }
            }

            

        
   

    .sideBarSocial{
       

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            margin-bottom: 1rem;
            
        }
    }
}}

