body{

    background: url('../../assets/mexique.jpg') no-repeat center center fixed; 
}

.mexique{
    display: flex;


    .mexiqueContent{
        font-size: 1.2rem;
        padding: 1rem;
        grid-area: C;
        border-radius: $borderRadius;
        opacity: 0.9;
        width: 100%;
       
        background-color: rgb(214, 240, 240);
        display:grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: 
        "T M"
        "C C"
        "I I"
        "d d";

        h1{
            grid-area: T;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .firstP{
        
           
            grid-area: C;
        }
        .imgMap{
            margin-top: 1rem;
            grid-area: M;
        }

        .imgContainer{
            grid-area: I;
            display: flex;
            justify-content: center;
          margin: 2rem;
          gap: 2rem;
           
            img{
                width: 20%;
                height: auto;
                border-radius: $borderRadius;
             
            }

        }

        .secondP{
            grid-area: d;
        }

    }}


